3 - Cree una serie desde un diccionario, desde una lista y desde un numpy array.

In [8]:
import numpy as np
import pandas as pd

5 - Combine varias series para formar un dataframe

In [ ]:
mi_lista =pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

pd.Series(lista)

6 - Obtenga los items de la serie A no presentes en la serie B

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[]

7 - Obtenga la unión e intersección de dos series A y B.

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

8 - Obtenga el valor mínimo, el percentil 25, la mediana, el percentil 75 y el máximo de una serie

In [ ]:
serie_random = pd.Series

9 - Obtenga la frecuencia de aparición de los elementos de una lista.

In [15]:
coco= np.random.RandomState(100)
ser = pd.Series(coco.randint(1, 5, [12]))
print(ser)

0     1
1     1
2     4
3     4
4     4
5     4
6     1
7     3
8     3
9     1
10    3
11    2
dtype: int64

11 - Convierta una serie en un dataframe con 5 filas y 3 columnas.

In [24]:
ser= pd.Series(np.random.randint(1,10,15))
pd.DataFrame(ser.values.reshape(5,3))

   0  1  2
0  9  1  6
1  8  1  9
2  3  6  8
3  3  8  9
4  4  9  3

13 - Obtener la posición de los items de la serie A en otra serie B.

In [27]:
coco= np.random.RandomState(100)
ser = pd.Series(coco.randint(1, 5, [12]))
melocoton= np.random.RandomState(100)
ser_2= pd.melocoton.randint(1, 10, 15)
print(ser)
print(ser_2)

AttributeError: ignored

In [28]:
verdad = pd.Series(range(10))
prediccion = pd.Series(range(10)) + np.random.random(10)
 
def mse (verdad, prediccion):
 verdad, prediccion = np.array (verdad), np.array (prediccion)
 return np.square(np.subtract (verdad, prediccion)).mean () 
 
mse(verdad, prediccion)

0.38188338020713186

16 - Calcular el número de caracteres de cada palabra en una serie.

17 - Dada una serie de fechas escritas como cadenas, páselas a timeseries.

In [32]:
ser = pd.Series(['01 Feb 2012', '02-03-2011', '20150503', '2016/04/04', '2018-05-05', '2018-06-06T12:20'])
pd.to_datetime(ser)

0   2012-02-01 00:00:00
1   2011-02-03 00:00:00
2   2015-05-03 00:00:00
3   2016-04-04 00:00:00
4   2018-05-05 00:00:00
5   2018-06-06 12:20:00
dtype: datetime64[ns]

18 - Obtenga el día del mes, el número de la semana y el día del año a partir de una serie de cadenas de fechas.

In [ ]:
serie de ejemplo: ser = pd.Series(['01 Feb 2012', '02-03-2011', '20150503', '2016/04/04', '2018-05-05', '2018-06-06T12:20'])