# 7 - Carga y preprocesamiento de datos (Ejercicios)

En este apartado, hemos estudiado uno de los componentes más importantes del ciclo de vida de los modelos de inteligencia artificial: la adquisición y manipulación de los datos. En los conjuntos de datos propuestos, tendremos por una parte la información relativa a los atributos de la muestra, y por otra los nombres de los mismos. Tu tarea será:

* Importar desde consola por comandos Linux los ficheros oportunos.
* Leer los ficheros `data` y `names`.
* Explorar el fichero `names` para analizar qué tipo de expresiones regulares necesitas para identificar los nombres de las columnas en la metadata.
* Aplicar las transformaciones *regex* pertinentes y obtener los nombres de las columnas para construir los datos. *Pista: El nombre de la variable respuesta tendremos que añadirlo al final ya que no viene explícitamente citado*.
* Realizar un conveniente preprocesmiento de las variables en función de su tipo.

## 7.1 - *Adult* [dataset](https://archive.ics.uci.edu/ml/datasets/Adult)

In [5]:
import os
import re
import pandas as pd
import numpy as np

In [6]:
# Creamos una carpeta para que contenga a nuestro dataset
!mkdir /content/adult_dataset
# Movemos el directorio activo a esa localización
%cd /content/adult_dataset
# Descargamos el fichero que contiene los datos a nuestro directorio activo
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
# Descargamos la metadata asociada al conjunto de datos
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

mkdir: cannot create directory ‘/content/adult_dataset’: File exists
/content/adult_dataset
--2022-06-10 15:15:13--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘adult.data.4’

adult.data.4        100%[===================>]   3.79M  16.7MB/s    in 0.2s

2022-06-10 15:15:13 (16.7 MB/s) - ‘adult.data.4’ saved [3974305/3974305]

--2022-06-10 15:15:13--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5229 (5.1K) [application/x-httpd-php]
Saving to: ‘adult.names.4’

adult.names.4       100%[===================>]   5.11K  --.-KB/s    in 0s

2022-06-10 15:15:13 (91.2 MB/s) - ‘adult.names.4’ saved [5229/5229]

In [7]:
# Creamos una carpeta para que contenga a nuestro dataset
!mkdir /content/adult_dataset
# Movemos el directorio activo a esa localización
%cd /content/adult_dataset
# Descargamos el fichero que contiene los datos a nuestro directorio activo
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
# Descargamos la metadata asociada al conjunto de datos
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names
# Leemos datos
with open(os.path.join(os.getcwd(),'adult.data'),'r') as f:
    data = f.read().splitlines() # Dividimos el texto por saltos de línea
    data = [elem.split(',') for elem in data] # Dividimos cada línea por las comas y removemos líneas vacías
# Leemos metadata
with open(os.path.join(os.getcwd(),'adult.names'),'r') as f:
    metadata = f.read().splitlines()
# Regex
regex_fn = lambda text: re.findall('^[a-zA-Z-]+:{1}', text)
reg_text_fn = lambda text : re.findall('[a-zA-Z- ]+', text)
metadata_list = [regex_fn(elem)[0] for elem in metadata if regex_fn(elem)]
col_names = [reg_text_fn(elem)[0] for elem in metadata_list if reg_text_fn(elem)] + ['label']
# Construimos el objeto pd.DataFrame
df = pd.DataFrame(data=data, columns=col_names)

mkdir: cannot create directory ‘/content/adult_dataset’: File exists
/content/adult_dataset
--2022-06-10 15:15:35--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘adult.data.5’

adult.data.5        100%[===================>]   3.79M  17.3MB/s    in 0.2s

2022-06-10 15:15:35 (17.3 MB/s) - ‘adult.data.5’ saved [3974305/3974305]

--2022-06-10 15:15:35--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5229 (5.1K) [application/x-httpd-php]
Saving to: ‘adult.names.5’

adult.names.5       100%[===================>]   5.11K  --.-KB/s    in 0s

2022-06-10 15:15:35 (103 MB/s) - ‘adult.names.5’ saved [5229/5229]

In [10]:
# Leemos metadata

with open(os.path.join(os.getcwd(),'adult.names'),'r') as f:

    metadata = f.read().splitlines()



regex_fn = lambda text: re.findall('^[a-zA-Z-]+:{1}', text)

reg_text_fn = lambda text : re.findall('[a-zA-Z- ]+', text)

metadata_list = [regex_fn(elem)[0] for elem in metadata if regex_fn(elem)]

col_names = [reg_text_fn(elem)[0] for elem in metadata_list if reg_text_fn(elem)] + ['label']


# Leemos el archivo 

file_path = os.path.join(os.getcwd(),'adult.data')



data = pd.read_csv(file_path, names = col_names)



data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df.drop([df.shape[0] - 1], axis = 0)

In [ ]:
data

## 7.2 - Beijing Multi-Site [Air Quality Data](https://archive.ics.uci.edu/ml/datasets/Beijing+Multi-Site+Air-Quality+Data)

En este conjunto de datos no tendremos que hacer un esfuerzo muy grande en lo relativo a estudiar la *metadata*, pero exploraremos una serie de comandos de Linux que nos será muy útil conocer:

Ahora te toca, ¿eres capaz de leer todos los `csv`, concatenarlos y construir un `pd.DataFrame` en una sola línea de código?


```python
df = pd.concat([pd.read_csv(elem) for elem in os.listdir()]).reset_index(drop=True)
```

## 7.3 - Solar flare [dataset](https://archive.ics.uci.edu/ml/datasets/Solar+Flare)

En este conjunto de datos, tendremos dos ficheros relativos a `data`, cuya primera fila serán las especificaciones temporales, por lo que deberemos quitarla, y además en los registros de datos las variables no vienen delimitadas por `','`, si no por espacios en blanco:

## Ejercicio PropuestoCrea una función que tenga como parámetro de entrada un `dataframe` y devuelva una lista de tuplas, siendo el primer elemento de la tupla el nombre de una columna, y el segundo valor de la tupla el número de valores únicos de la columna.**Output a obtener:**```[('age', 73), ('workclass', 9), ('fnlwgt', 21648), ('education', 16), ('education-num', 16), ('marital-status', 7), ('occupation', 15), ('relationship', 6), ('race', 5), ('sex', 2), ('capital-gain', 119), ('capital-loss', 92), ('hours-per-week', 94), ('native-country', 42), ('label', 2)]```

In [11]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'label'],
      dtype='object')

In [12]:
def obtener_valores_unicos(data: pd.DataFrame) -> list:

    """

    Esta función admite como parámetro de entrada un Dataframe

    Y devuelve una lista de tuplas, donde el primer elemento se

    corresponde con el nombre de la columna, y el segundo, al 

    número de elementos únicos de la columna

    

    """

    return [(col, len(data[col].unique())) for col in data.columns]

In [13]:
obtener_valores_unicos(data = data)

[('age', 73),
 ('workclass', 9),
 ('fnlwgt', 21648),
 ('education', 16),
 ('education-num', 16),
 ('marital-status', 7),
 ('occupation', 15),
 ('relationship', 6),
 ('race', 5),
 ('sex', 2),
 ('capital-gain', 119),
 ('capital-loss', 92),
 ('hours-per-week', 94),
 ('native-country', 42),
 ('label', 2)]